<header class="header-container">
  <img src="assets/icons/marvelicon.png" alt="marvel-icon">
</header>

<section class="main-container">
  <section class="heroes-section">
    <div class="heroes-section-info">
      <div class="heroes-section-title"><img src="assets/icons/characters.png" alt="characters-icon"> <h1>Characters</h1></div>
      <app-hero-filter></app-hero-filter>
    </div>
    <app-heroes-container></app-heroes-container>
  </section>
  <section class="comics-section">
    <app-comics-container></app-comics-container>
  </section>
</section>

<footer class="footer-container"></footer>